/* dark blue 31383c
light blue cee1e9 */

html, body {
    height: 100%;
}

hr {
  margin:0 0 0.8em 0;
}

.background-full, .background-third {
  position:relative;
  top:0;
  width:100%;
  margin:0;
  padding:0;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  background-position:center center;
}
.background-full {
  background-image:url('/img/bg/hs-2008-35-j-dark2.jpg');
  height:100%;
}
.background-third {
  background-image:url('/img/bg/hs-2008-35-j-wide.jpg');
  min-height:130px;
  height:30%;
  margin-bottom:1em;
}
footer {
  width:100%;
  min-width:0;
  position:absolute;
  bottom:0;
  left:0;
  margin:0;
  background-color:rgba(255,255,255,0.6);
  height:36px;
  line-height:35px;
  text-align:center;
  margin-top:1px solid #222;
}
footer small {
  width:100%;
}
nav {
  position:absolute;
  width:100%;
  z-index:1000;
  margin:0;
  padding:0;
  background-color:rgba(0, 0, 0, 0.4);
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -webkit-justify-content:flex-end;
  justify-content:flex-end;
  border-bottom:1px solid #fff;
}
ul#menu {
  position:relative;
  list-style-type:none;
  text-transform:uppercase;
  font-weight:200;
  margin:0;
  padding:0;
  /*width:580px;*/
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  -webkit-justify-content:space-between;
  justify-content:space-between;
}
nav a {
  color: #e8dcd1;
  text-decoration: none;
}
.banner a {
  color:#fff;
  text-decoration: none;
  font-weight:400;
}
nav a:hover, .banner a:hover {
  color: #d1e1e8; }

.hangindent {
  padding-left: 1em;
  text-indent: -1em;
} 

table.contact {
  margin:0 auto;
}
table.contact td {
  padding:0 0.5em;
}
.small {
  font-size:80%;
}
.appear {
  display:none;
}
@media (max-width:549px) {
  .vanish {
    display:none;
  }
  table.contact td {
    padding:0 0.6em;
  }
  .appear {
    display:inline-block;
  }
}
.figure {
  text-align: center;
  font-style: italic;
}

.figure img {
  outline:1px solid #222;
}

@media (min-width:550px) {
  .figure.u-pull-right {
    padding-left:1em;
  }
  .figure.u-pull-left {
    padding-right:1em;
  }
}

/*Create a horizontal list with spacing*/
#menu li {
  display:inline-block;
  float: right;
  margin:0;
}

/*Style for menu links*/
#menu li a {
  display:inline-block;
  text-decoration: none;
  text-align: center;
  margin:10px 4px;
}

#menu li a:last-child {
  margin-right:24px;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  text-align: right;
  padding: 10px 0;
  margin:0;
  margin-right:20px;
  display: none;
  text-transform:uppercase;
  color:#fff;
}

/*Hide checkbox*/
input#show-menu{
    display: none;
}

/*Responsive Styles*/

@media (max-width : 549px){
  /*Make dropdown links appear inline*/
  nav {
    display:block;
  }
  ul#menu {
    display: none;
    width:100%;
  }
  /*Create vertical spacing*/
  #menu li {
    border-top:1px solid #000;
  }
  /*Make all menu links full width*/
  #menu li, #menu li a {
    width: 100%;
    background:#222;
  }
  #menu li a:last-child {
    margin-right:0;
  }
  /*Display 'show menu' link*/
  .show-menu {
    display:block;
  }
  /*Show menu when invisible checkbox is checked*/
  input#show-menu:checked ~ #menu{
      display: inline-block;
  }
}

@media (min-width:550px) {
    .right {
      text-align:right;
    }
}

.banner-center, .banner-bottom {
  position:relative;
  margin:0 auto;
  height:100%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  -webkit-justify-content:center;
  justify-content:center;
}

.banner-center {
  -webkit-align-items:center;
  align-items:center;
}
.banner-bottom {
  -webkit-align-items:flex-end;
  align-items:flex-end;
}

.banner {
  color:#fff;
  text-align:center;
  text-transform:lowercase;
}

.banner h1, .banner h3, .banner h5 {
  font-weight:200;
}

.banner h1 {
  letter-spacing:0.05em;
}