body {
	background-color:#010101;
}
h1, h2, h3, h4, h5, h6{
	font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	font-weight:200;
	font-stretch:normal;
	color:#010101;
	line-height:1.5em;
	padding:0 0 6px 0;
	margin:0;
	font-weight:200;
	text-align:center;
}
a {
	color: #006BB2;
	text-decoration: none;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
}
a:hover, a:active, a:focus {
	color: #8A0000;
	text-decoration: none;
}
sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}
sub { top: 0.4em; }
code, pre {
	display:block;
	position:relative;
	margin:1em;
	padding:1em;
	border-top:1px solid #400000;
	border-bottom:1px solid #400000;
	background:#F0F4FF;
	line-height:1.25em;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.navbar {
	z-index:1000;
}
@media (max-width:767px) {
	.navbar {
		position:fixed;
		left:0;
		top:55px;
		margin-left:-2em;
	}
	.navbar-collapse, .collapse {
		margin-top:1em;
	}
}
@media (min-width:768px) and (max-width:959px) {
	.navbar {
		position:absolute;
		max-width:700px;
		margin-top:-58px;
		left:50%;
		margin-left:-349.5px;
	}
}
@media (min-width:960px) {
	.navbar {
		max-width:800px;
		margin-top:-58px;
		left:50%;
		margin-left:-399.5px;
	}
}
.navbar, .navbar-collapse, .collapse {
	padding:0;
	margin-bottom:0;
	text-align:center;
	width:100%;
}
.navbar-collapse, .collapse {
	left:0;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:100%;
}
.navbar-header {
	position:fixed;
	width:94%;
	left:3%;
	margin:0;
	top:0;
	border-bottom:1px solid #000;
}
@media (max-width:767px) {
	.navbar-header:before {
		display:block;
		background:#000;
		height:1em;
	}
}
@media (max-width:360px) {
	.navbar-header {
		margin-left:1px;
	}
}
.navbar ul {
	list-style: none;
	width:100%;
	padding:0;
	margin:0;
}
@media (min-width:768px) {
	.navbar ul li {
		width:20%;
		height:50px;
		overflow:hidden;
		margin-bottom:0;
	}
}
@media (max-width:767px) {
	.navbar ul li {
		width:calc(100% - 6em);
		left:5em;
	}
}
.navbar-toggle {
	float:left;
	margin-left:1em;
	border-radius:10px;
}
.navbar ul li a, .navbar-toggle, .navbar-toggle a, .navbar-header {
	background: #3073B4;
	color:#fff;
	text-decoration: none;
	-webkit-transition: background .4s;
	-moz-transition: background .4s;
	-o-transition: background .4s;
	transition: background .4s;
}
	.navbar ul li a:hover, .navbar ul li a:focus, .navbar ul li a:active {
		background: #8A2E2E;
	}
	@media (min-width:768px) {
		.navbar ul li a {
			border-right:1px solid #000;
		}
		.navbar ul li:first-child a {
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}
		.navbar ul li:last-child a {
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			border-right:none;
		}
	}
	@media (max-width:767px) {
		.navbar ul li a {
			border-bottom:1px solid #000;
			border-left:1px solid #000;
			border-right:1px solid #000;
		}
		.navbar ul li:last-child a {
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			border-bottom:none;
		}
	}
.navbar-nav > .active > a {
	color: #fff;
	background: #8A2E2E;
	text-decoration: none;
	-webkit-transition: background .4s;
	-moz-transition: background .4s;
	-o-transition: background .4s;
	transition: background .4s;
}
.jumbotron h1, .jumbotron p, .jumbotron h3 {
	color:#fff;
	padding:0;
}
.jumbotron p, .jumbotron h3 {
	font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	font-weight:200;
}
.jumbotron h1 {
	font-size:4em;
	line-height:1em;
	font-stretch:normal;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight:100;
	font-stretch:normal;
}
.main, .main-side {
	position:relative;
	margin:2em;
	margin-bottom:1.5em;
}
@media (min-width:960px) {
	.main, .main-side {
		margin-top:1.5em;
	}
}
@media (min-width:768px) and (max-width:959px) {
	.main-side {
		margin-top:-0.5em;
	}
}
@media (max-width:767px) {
	.main, .main-side {
		margin-top:-0.5em;
	}
}

.main > div
{
    display: none;
}
.main figure, .main-side figure {
	position:relative;
	max-width: 250px;
	height: auto;
}
.main figure figcaption, .main-side figure figcaption {
	max-width: 100%;
	top:0;
	text-align:center;
	font-size:1.1em;
	padding-top:0.5em;
	margin:0;
}
.main figure img, .main-side figure img {
	max-width:100%;
	height:auto;
	margin:0;
	padding:0;
	border:1px solid #000;
}
.main .contact {
	position:relative;
	max-width:200px;
	margin-left:auto;
	margin-right:auto;
}
.contact table.fixed {
	table-layout:fixed;
	width:100%;
	border:none;
	padding:none;
	margin:none;
}
.contact table.fixed td {
	overflow: hidden;
	border:none;
	padding:none;
	margin:none;
}
.contact table.fixed td:nth-of-type(1) {
	width:3.5em;
	text-align:center;
}
.main img, .main-side img {
	position:relative;
	float:none;
	max-width:100%;
	width:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:1em;
    margin-bottom:1em;
}
.main-side table.fixed {
	table-layout:fixed;
	margin:auto;
}
.main-side table.fixed td:nth-of-type(1) {
	padding-right:1em;
}
.main-side table.fixed td:nth-of-type(2) {
	padding-bottom:1em;
}
.main-side table.fixed td:nth-of-type(2) h4 {
	text-align:left;
	line-height:1em;
}
@media (min-width: 960px) {
	.main-side table.fixed {
		width:80%;
	}
	.main-side table.fixed td:nth-of-type(1) {
		width:30%;
	}
}
@media (min-width: 768px) and (max-width: 959px) {
		/* max-width: 674px * .95; */
	.main-side table.fixed {
		width:90%;
	}
	.main-side table.fixed td:nth-of-type(1) {
		width:31%;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.main-side table.fixed {
		width:100%;
	}
	.main-side table.fixed td:nth-of-type(1) {
		width:33%;
	}
}
@media (max-width: 479px) {
	.main-side table.fixed {
		width:100%;
	}
	.main-side table.fixed td:nth-of-type(1) {
		width:44%;
	}
}


.main ul {
	padding-left:1.5em;
}
@media (min-width:767px) {
	.main figure, .main-side figure {
		float:right;
		margin-left:1em;
		margin-bottom:1em;
	}
	.wrap {
		position:relative;
		display:table;
		width:90%;
		margin:auto;
	}
	.main #container-left {
		position:relative;
		top:0;
		float:left;
		display:table-cell;
		max-width:55%;
	}
	.main #container-right {
		position:relative;
		top:0;
		float:right;
		display:table-cell;
	}
}
@media (min-width:600px) and (max-width:766px) {
	.main figure, .main-side figure {
		float:right;
		width:40%;
		margin-left:1em;
		margin-bottom:1em;
	}
	.wrap {
		position:relative;
		width:100%;
	}
	.main #container-left {
		display:block;
		margin-bottom:1em;
	}
	.main #container-right {
		display:block;
	}
}
@media (max-width:599px) {
	.main figure, .main-side figure {
		float:none;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:1em;
		width:75%;
	}
	.wrap {
		position:relative;
		width:100%;
	}
	.main #container-left {
		display:block;
		margin-bottom:1em;
	}
	.main #container-right {
		display:block;
	}
}
.portfolio-wrapper {
	position:relative;
	width:100%;
	text-align:center;
}
.portfolio-wrapper .box {
	position: relative;
	margin:0.5em;
	padding:0;
	left:0;
	border:5px solid transparent;
	outline:1px solid #aaa;
	background-size:100% auto;
	background-repeat:no-repeat;
	display:inline-block;
	max-width:200px;
}
@media (min-width:768px) {
	.portfolio-wrapper .box {
		width: 22%;
	}
}
@media (min-width:600px) and (max-width:767px) {
	.portfolio-wrapper .box {
		width: 30%;
	}
}
@media (min-width:480px) and (max-width:599px) {
	.portfolio-wrapper .box {
		width: 40%;
	}
}
@media (max-width:479px) {
	.portfolio-wrapper .box {
		width: 60%;
	}
}
.portfolio-wrapper .box:before {
	content: "";
	display: block;
	padding-top: 135%;
}
.portfolio-wrapper .content {
	position: absolute;
	height:35%;
	width:100%;
	left: 0px;
	bottom: 0px;
	display:inline-block;
	border-top:5px solid #fcfcfc;
	border-bottom:none;
	background:#E0EAFF;
	-webkit-transition: background 0.6s;	
	   -moz-transition: background 0.6s;
		 -o-transition: background 0.6s;
			transition: background 0.6s;
}
.portfolio-wrapper .content:hover, .portfolio-wrapper .content:focus, .portfolio-wrapper .content:active {
	background:#EBCECE;
}
.portfolio-wrapper .content a {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	width:100%;
	color:#000;
	padding-left:0.5em;
	padding-right:0.5em;
}
@media (max-width:767px) {
	.portfolio-wrapper .box:last-child {
		margin-right:calc(0.5em + 4px);
	}
 }
.demo {
	display:block;
	position:relative;
	border-radius:1em;
	border:1px solid #ccc;
	width:calc(100%-2em);
	padding-left:1em;
	padding-right:1em;
	margin:1em;
	background-image:url('../img/M81.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}
@media (max-width:599px) {
	.demo {
		padding-top:12em;
	}
}
@media (min-width:600px) and (max-width:767px) {
	.demo {
		padding-top:8em;
	}
 }
 @media (min-width:768px) {
	.demo {
		padding-top:5em;
	}
 }
 .demo p {
	display: inline-block;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	font-size:1.2em;
	padding:0;
	width:85%;
}
footer {
	position:relative;
	margin:0;
	padding:0;
	text-align:center;
	width:100%;
	height:75px;
	background:#E0EAFF;
	border-top:1px solid #000;
}
.footer {
	position:relative;
	display:table;
	font-size:0.8em;
	overflow:visible;
	margin-left:auto;
	margin-right:auto;
	margin-top:8px;
    table-layout:fixed;
}
.footer a {
	text-decoration:none;
}
.footer .imgbox {
	position:relative;
	display: table-cell;
	height:53px;
	top:0;
	margin:auto;
    table-layout: fixed;    
}
.footer .imgbox img {
	width:auto;
	height:53px;
	position:absolute;
	top:0;
	margin-left:-24px;
}
.footer .address {
	position:relative;
	text-align:center;
	display: table-cell;
	line-height:16px;
	padding-left:20px;
	top:0;
	padding-top:3px;
	margin:auto;
    table-layout: fixed;    
}
