.bootstrap-select .btn:focus, .selectpicker li a:focus, button:focus, label:focus, input:focus {
    outline: none !important;
}

#leftMenu .accordion-group {
    margin:0;
    padding:0;
    border:0;
}    

#leftMenu .accordion-heading {
    padding:12px;
    margin:0;
    border-top: 1px solid #717171; /* inner stroke */
    border-bottom: 1px solid #5A5A5A; /* inner stroke */
    background-color: #353535; /* layer fill content */
    list-style-type:none;
}  

#leftMenu .accordion-heading  a{ 
    margin:0;
    padding:0;
    color: #cbcbcb; /* text color */
    text-shadow: 0 1px 0 #3b3b3b; /* drop shadow */
    text-decoration:none;
}

#leftMenu .accordion-heading  a:hover{  
    color:#ccc     
}

#leftMenu .accordion-heading .active {
    border: 1px solid #5b5b5b; /* inner stroke */
    background-color: #353535; /* layer fill content */
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    overflow:scroll;
  }
  .sidebar-nav .navbar ul {
    float: none;
    margin:0;  
    padding:0;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
    margin:0;  
    padding:0;
  }
  .sidebar-nav .navbar li a {
    padding: 12px;
  }
 .navbar, .navbar-inverse {
    overflow:scroll;
 } 
}

@media (max-width: 767px) {
  .sidebar-nav .navbar-header {
    width:100%;
    margin:0;  
    padding:0;
    height:50px;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    margin:0;
    width:100%;
    left:0;
    max-height:100%;
  }
  .sidebar-nav .navbar-toggle {
    float:left;
    margin-top:4px;
    margin-bottom:4px;
  }
  .sidebar-nav .navbar ul {
    float: none;
    padding: 0;
    margin:0 0 12px 0;
    width:100%;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
}
  .sidebar-nav .navbar li a {
    padding: 8px 12px 8px 12px;
    margin:0;
    width:100%;
  }
 .navbar, .navbar-inverse {
    width:100%;
    padding: 0;
    margin:0;
    left:0;
 } 
}
