/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 20px;
  font-weight:200;
}

h1, .h1 {
	font-weight:100;
}

.jumbotron {
	background:url('../images/hs-2013-06-c-xlarge_web.jpg');
	background-position:center right;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	margin-bottom:0;
    z-index: -1;
}

.jumbotron .container {
	margin-top:8em;
	padding: 1em 2.5em 1em 2.5em;
	width:calc(100%-5em);
}

.jumbotron .container, .jumbotron .container p {
	color:#fff;
	text-align:center;
	font-weight:100;
	letter-spacing:1px;
}

.jumbotron .container p {
}

.navbar, .navbar-inverse, .navbar-fixed-top {
    text-align:center;
} 

.sidebar-nav .navbar .navbar-collapse {
	text-transform:uppercase;
 }
 
 .page-container figure img {
 	width:100%;
 	height:auto;
 	border:3px solid #ccc;
 }
 .page-container figure figcaption {
 	width:100%;
 	text-align:center;
 	padding-top:4px;
 	font-size:1.2em;
 	margin-bottom:4px;
 }
.page-container a {
	text-decoration:none;
	-webkit-transition: color .4s;
	-o-transition: color .4s;
	-moz-transition: color .4s;
	transition: color .4s;
 }
 
 .page-container a:hover {
 color:#CC5C5C;
 }
 
@media (min-width: 992px) {
    .page-container figure {
 	width:30%;
 	float:right;
 	margin-left:8px;
 }
}

@media (min-width: 768px) and (max-width:991px) {
 .page-container figure {
 	width:40%;
 	float:right;
 	margin-left:8px;
 }
}
 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    position:fixed;
    height:100%;
    width:200px;
    left:0;
    overflow:scroll;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding: 12px 22px 12px 22px;
  }
 .navbar, .navbar-inverse, .navbar-fixed-top {
    width:200px;
    padding-left:0;
    margin-left:0;
    left:0;
    height:100%;
    overflow:scroll;
 } 
  .page-container {
    padding: 0;
    margin-left:200px;
    width:calc(100% - 200px);
  }
 .sidebar-nav .img {
    margin-top:2em;
    margin-bottom:2em;
  }
 .sidebar-nav .img img {
    border:5px solid #aaa;
    border-radius:100%;
    width:120px;
  }
}

@media (max-width: 767px) {
  .sidebar-nav .navbar-header {
    width:100%;
	margin:0 0 0 0;  
	padding:0 0 0 0;
	height:30px;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0 0 0 0;
    margin:0 0 0 0;
    width:100%;
    left:0;
	max-height:100%;
  }
  .sidebar-nav .navbar-toggle {
  float:left;
  margin-left:-32px;
  margin-top:4px;
  margin-bottom:4px;
  }
  .sidebar-nav .navbar ul {
    float: none;
    padding: 0 0 0 0;
    margin:0 0 12px 0;
    width:100%;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
}
  .sidebar-nav .navbar li a {
    padding: 8px 12px 8px 12px;
    margin:0 0 0 0;
    width:100%;
  }
 .navbar, .navbar-inverse, .navbar-fixed-top {
    width:100%;
    padding: 0 0 0 0;
    margin:0 0 0 0;
    left:0;
 } 
  .sidebar-nav .img {
    display:none;
  }
   .page-container figure {
 	width:45%;
 	float:right;
 	margin-left:8px;
 }
   .container h2 {
   font-size:1.5em;
 }
}

@media (max-width:600px) {
 .page-container figure {
 	width:50%;
 	float:none;
	margin-left:auto;
	margin-right:auto;
 }
 .jumbotron {
	background-attachment:scroll;
  }
}

footer {
	position:relative;
	text-align:center;
	width:100%;
	height:69px;
}

.footer {
	position:relative;
	display: table;
	height:69px;
	font-size:12px;
	overflow:visible;
	margin:auto;
    table-layout: fixed;    
}

.footer a {
	text-decoration:none;
}

.footer .box {
	position:relative;
	display: table-cell;
	height:53px;
	top:0;
	margin:auto;
    table-layout: fixed;    
}

.footer .box img {
	width:auto;
	height:53px;
	position:absolute;
	top:0;
	margin-left:-16px;
}

.footer .address {
	position:relative;
	text-align:center;
	display: table-cell;
	line-height:16px;
	padding-left:20px;
	top:0;
	padding-top:3px;
	margin:auto;
    table-layout: fixed;    
}

