body {
  padding:50px;
  font-family:'Helvetica Neue', Helvetica, sans-serif;font-size:12px;
  color:#444;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
  font-weight:200;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

.wrapper {
  width:860px;
  margin:0 auto;
  float:left;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:300px;
  float:left;
  position:absolute;
  text-align:right;
  height:100%;
  padding:20px
  border-right:1px solid #999999;
}


header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:right;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  font-weight:500;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}


a {
text-decoration:none;
color:#000000;
opacity:0.8;
-webkit-transition: all 0.4s linear;
}

a:hover{
opacity:1;
}
 

blockquote {
margin:0px 20px 0px 20px;
}
 
.nav {
margin-top:15px;
margin-bottom:-10px;
margin-left:-2px;
font-family: Helvetica, Arial, sans-serif;
text-transform:lowercase;
text-align:right;
font-style:italic;
font-size:14px;
line-height:22px;
color: #555;
text-decoration: none;
}
 
.nav a {
transition: 0.4s linear;
-moz-transition: 0.4s linear;
margin:2px;
opacity:0.95;
padding:3px;
background-color: #FFFFFF;
color:#000000;
}    
 
.nav a:hover{
opacity:0.7;
}
 
 
.description {
position:absolute;
top:290px;
font-size:14px;
left:56px;
width:150px;
padding:20px;
text-align:right;
font-family:'CMU Serif', 'Euclid', 'Century Schoolbook', serif;
line-height:15px;
transition:0.5s linear;
-moz-transition:0.5s linear;
color:#000000;
background-color: #FFFFFF;
}  


 
</style>
<style type="text/css">{CustomCSS}</style>

<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    
</head>