<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Meredith J. Durbin"/>
    <meta name="description" content="Meredith J. Durbin's homepage"/>
    <meta name="keywords" content="Meredith,Durbin,Astronomy,Astrophysics,Washington,Graduate,Student"/>
    
    <meta property="og:type" content="website" />
    <meta property="og:title" content={{ page.title }}/>
    <meta property="og:url" content="https://meredith-durbin.github.io/">
    <meta property="og:description" content="Meredith Durbin's website"/>
    <meta property="og:image" content="https://meredith-durbin.github.io/img/me/hyperwall.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:alt" content="Me talking about space"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@bispectral">
    <meta name="twitter:title" content={{ page.title }}>
    <meta name="twitter:description" content="Meredith Durbin's website">
    <meta name="twitter:image" content="https://meredith-durbin.github.io/img/me/hyperwall.jpg">

    <link rel="icon" href="{{ site.baseurl }}/img/favicon.png">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700|Megrim:400" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/normalize.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/skeleton.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="{{ site.baseurl }}/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">

        {{ content }}

    </div>
  </body>
</html>