---
layout: base
---

<nav role="navigation">
  <label for="show-menu" class="show-menu"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;&nbsp;Menu</label>
  <input type="checkbox" id="show-menu" role="button">
  <ul id="menu">
    <li><a href="/"><i class="fas fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home</a></li>
    <li><a href="/research"><i class="fas fa-chart-bar" aria-hidden="true"></i>&nbsp;&nbsp;Research</a></li>
    <li><a href="/teaching"><i class="fas fa-university" aria-hidden="true"></i>&nbsp;&nbsp;Teaching</a></li>
    <li><a href="/cv"><i class="fas fa-graduation-cap" aria-hidden="true"></i>&nbsp;&nbsp;CV</a></li>
    <!-- <li><a href="/contact"><i class="fas fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;Contact</a></li> -->
    <!-- <li><a href="/about"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;About</a></li> -->
  </ul>
</nav>

  {{ content }}

